.tutor_img {
  width: 100%;
  float: left;
  text-align: center;
}
.tutor_img img {
  text-align: center;
  width: 160px !important;
  height: 100px !important;
  display: inline-block !important;
  object-fit: contain;
  margin: 0px 0 15px 0;
  /* box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 10%); */
}

.tutor_content_dt {
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

.tutor150 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tutor_name_active {
  font-size: 20px;
}

.tutor_name {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
  position: relative;
}

.tutor_name:hover {
  color: gray;
  text-decoration: none;
}

.tutor_cate {
  font-size: 13px;
  color: #686f7a;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tutor_social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 0 0 0 15px !important;
}
.tutor_content_dt li {
  display: inline-block !important;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 0 !important;
}

.tutor_content_dt li a {
  font-size: 14px;
  float: left;
  width: 35px;
  height: 36px;
  border-radius: 100%;
  text-align: center;
  padding: 9px 0;
  color: #fff;
}

.fb {
  background: #3b5998;
}

.tw {
  background: #1da1f2;
}

.ln {
  background: #8d6cab;
}

.yu {
  background: #ff0000;
}
